*{
    padding: 0;
    margin: 0;
}

/* Whole page settings */
body {
    background-color: #FFF7F8;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    text-align: center;

    overflow-x: hidden;
}

header {
    overflow-x: hidden;
}

/*  Navigation bar  v */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F363D;
    position: -webkit-sticky;
    position: sticky; /* Makes the nav stay at top of page as scrolling */
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white; /* sets the color of the text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* removes the underline of the nav option */
}
/* Change the color as someone hovers over it */
li a:hover:not(.active) {
    background-color: #152429;
}
/* Tell user which tab they are currently on */
.active {
    background-color: #E65F5C;
}
/*  Navigation bar  ^ */

.Right-Side {
    background-color: #F4AC45;
    width: 50%;
    float: right;
}

.Left-Side {
    background-color: #81B29A;
    width: 50%;
    height: 100%;
    float: left;
}

/* Images */
#Portrait {
    width: 350px;
    height: 350px;
    background: url(../Images/Syds_professional.jpg)
    no-repeat center center;
    background-size: cover;
    padding: 5px;
    border-radius: 50%;

    overflow: hidden;
    /* transform: translate3d(0,0,0px); */
}

#Triangle {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #E65F5C;
    width: 50px;
    height: 40px;

    transform: rotate(45deg);
}

section {
    height: 800px;
}

